Repository SEMedical/SmartGlycemia: changes, and which Codecov flags are due for each by the changed paths.
All: Gateway, User Service, Glycemia Service, Interact Service, Exercise Service, OA Service

[feat]:doctor can get the followerlist
  common-api/src/main/java/edu/tongji/backend/dto/PatientList.java
  common-api/src/main/java/edu/tongji/backend/util/RedisConstants.java
  interact-service/Dockerfile
  interact-service/src/main/java/edu/tongji/backend/controller/DoctorInteractController.java
  interact-service/src/main/java/edu/tongji/backend/controller/PatientInteractController.java
  interact-service/src/main/java/edu/tongji/backend/mapper/DoctorInteractMapper.java
  interact-service/src/main/java/edu/tongji/backend/service/DoctorInteractService.java
  interact-service/src/main/java/edu/tongji/backend/service/impl/DoctorInteractImpl.java
  interact-service/src/test/java/edu/tongji/backend/InteractSuiteTest.java
Due: Interact Service

[feat]:lua scripts make the subscribe process atomic
  interact-service/src/main/java/edu/tongji/backend/controller/DoctorInteractController.java
  interact-service/src/main/java/edu/tongji/backend/controller/PatientInteractController.java
  interact-service/src/main/java/edu/tongji/backend/service/DoctorInteractService.java
  interact-service/src/main/java/edu/tongji/backend/service/impl/DoctorInteractImpl.java
  interact-service/src/main/java/edu/tongji/backend/service/impl/PatientInteractServiceImpl.java
  interact-service/src/main/resources/both_inc_dec.lua
  interact-service/src/main/resources/rem_appl.lua
  interact-service/src/main/resources/subscribe.lua
Due: Interact Service

[feat]:getDoctorInfo api and cache optimization
  common-api/src/main/java/edu/tongji/backend/dto/DoctorDTO3.java
  common-api/src/main/java/edu/tongji/backend/dto/PatientList.java
  common-api/src/main/java/edu/tongji/backend/dto/ProfileDTO2.java
  common-api/src/main/java/edu/tongji/backend/dto/SinglePatientInfo.java
  common-api/src/main/java/edu/tongji/backend/util/RedisConstants.java
  interact-service/src/main/java/edu/tongji/backend/controller/DoctorInteractController.java
  interact-service/src/main/java/edu/tongji/backend/mapper/DoctorInteractMapper.java
  interact-service/src/main/java/edu/tongji/backend/service/DoctorInteractService.java
  interact-service/src/main/java/edu/tongji/backend/service/impl/DoctorInteractImpl.java
  interact-service/src/main/resources/edu/tongji/backend/mapper/DoctorInteractMapper.xml
  interact-service/src/test/java/edu/tongji/backend/InteractSuiteTest.java
Due: Interact Service

fix the getProfile by doctor
  common-api/src/main/java/edu/tongji/backend/dto/ProfileDTO.java
  glycemia-service/src/main/java/edu/tongji/backend/service/impl/GlycemiaServiceImpl.java
  user-service/src/main/java/edu/tongji/backend/controller/ProfileController.java
  user-service/src/main/java/edu/tongji/backend/service/IProfileService.java
  user-service/src/main/java/edu/tongji/backend/service/impl/ProfileServiceImpl.java
Due: User Service, Glycemia Service

[Release 2.1.0 sprint patch] Enhancement for ```Interaction Service``` (#86)
  common-api/src/main/java/edu/tongji/backend/dto/DoctorDTO3.java
  common-api/src/main/java/edu/tongji/backend/dto/PatientList.java
  common-api/src/main/java/edu/tongji/backend/dto/ProfileDTO.java
  common-api/src/main/java/edu/tongji/backend/dto/ProfileDTO2.java
  common-api/src/main/java/edu/tongji/backend/dto/SinglePatientInfo.java
  common-api/src/main/java/edu/tongji/backend/util/RedisConstants.java
  glycemia-service/src/main/java/edu/tongji/backend/service/impl/GlycemiaServiceImpl.java
  interact-service/Dockerfile
  interact-service/src/main/java/edu/tongji/backend/controller/DoctorInteractController.java
  interact-service/src/main/java/edu/tongji/backend/controller/PatientInteractController.java
  interact-service/src/main/java/edu/tongji/backend/mapper/DoctorInteractMapper.java
  interact-service/src/main/java/edu/tongji/backend/service/DoctorInteractService.java
  interact-service/src/main/java/edu/tongji/backend/service/impl/DoctorInteractImpl.java
  interact-service/src/main/java/edu/tongji/backend/service/impl/PatientInteractServiceImpl.java
  interact-service/src/main/resources/both_inc_dec.lua
  interact-service/src/main/resources/edu/tongji/backend/mapper/DoctorInteractMapper.xml
  interact-service/src/main/resources/rem_appl.lua
  interact-service/src/main/resources/subscribe.lua
  interact-service/src/test/java/edu/tongji/backend/InteractSuiteTest.java
  user-service/src/main/java/edu/tongji/backend/controller/ProfileController.java
  user-service/src/main/java/edu/tongji/backend/service/IProfileService.java
  user-service/src/main/java/edu/tongji/backend/service/impl/ProfileServiceImpl.java
Due: User Service, Glycemia Service, Interact Service

[Lua Script]Maximum Login Device is set to 3
  common-api/src/main/java/edu/tongji/backend/util/RedisConstants.java
  user-service/src/main/java/edu/tongji/backend/controller/LoginController.java
  user-service/src/main/java/edu/tongji/backend/service/impl/UserServiceImpl.java
  user-service/src/main/resources/ban.lua
Due: User Service

[Lua Script]Logout API added
  user-service/src/main/java/edu/tongji/backend/controller/LoginController.java
  user-service/src/main/java/edu/tongji/backend/service/IUserService.java
  user-service/src/main/java/edu/tongji/backend/service/impl/UserServiceImpl.java
  user-service/src/main/resources/logout.lua
Due: User Service

Update dependabot.yml
  .github/dependabot.yml
Due: none

1. Fix the expire number(unit should be s not ms) 2. add globalfilter to audit log the ip address HyperLogLog also adopted
  gateway/src/main/java/edu/tongji/backend/LogFilter.java
  user-service/src/main/resources/ban.lua
Due: Gateway, User Service

Download artifacts of docker images
  .github/workflows/docflow.yml
  .github/workflows/image-sync.yml
  .github/workflows/workflow.yml
  docker-compose.yml
Due: none

limit concurrency of workflows
  .github/workflows/codeql.yml
  .github/workflows/docflow.yml
  .github/workflows/image-sync.yml
  .github/workflows/workflow.yml
Due: none

fine-tune redis image settings
  .github/workflows/image-sync.yml
  .github/workflows/workflow.yml
  docker-compose.yml
Due: none

update mysql image artifact
  .github/workflows/image-sync.yml
Due: none

Optimize workflow:reduce github action bills
  .github/workflows/workflow.yml
  pom.xml
  web-variables.env
Due: none

Try codacy.yml
  .github/workflows/codacy.yml
Due: none

Update codacy.yml
  .github/workflows/codacy.yml
Due: none

Adminstrator can register now!
  oa-service/src/main/java/edu/tongji/backend/controller/AccountController.java
  oa-service/src/main/java/edu/tongji/backend/controller/AdminController.java
  oa-service/src/main/java/edu/tongji/backend/mapper/HospitalMapper.java
  user-service/src/main/java/edu/tongji/backend/service/impl/UserServiceImpl.java
Due: User Service, OA Service

CONFIDENTIAL
  .github/workflows/image-sync.yml
Due: none

Revert "CONFIDENTIAL"
  .github/workflows/image-sync.yml
Due: none

Ready to integrate Elastic Search
  .github/workflows/image-sync.yml
  docker-compose.yml
  pom.xml
  user-service/src/main/resources/ban.lua
Due: User Service

Manually trigger the workflow
  .github/dependabot.yml
  .github/workflows/image-sync.yml
Due: none

Fix the syntax of Dependabot
  .github/dependabot.yml
Due: none

Lua Script Optimization for Redis Operation (#87)
  .github/dependabot.yml
  .github/workflows/codeql.yml
  .github/workflows/docflow.yml
  .github/workflows/image-sync.yml
  .github/workflows/workflow.yml
  common-api/src/main/java/edu/tongji/backend/dto/DoctorDTO1.java
  common-api/src/main/java/edu/tongji/backend/util/RedisConstants.java
  docker-compose.yml
  gateway/src/main/java/edu/tongji/backend/LogFilter.java
  oa-service/src/main/java/edu/tongji/backend/controller/AccountController.java
  oa-service/src/main/java/edu/tongji/backend/controller/AdminController.java
  oa-service/src/main/java/edu/tongji/backend/mapper/HospitalMapper.java
  oa-service/src/test/java/edu/tongji/backend/controller/AccountControllerTest.java
  oa-service/src/test/java/edu/tongji/backend/controller/MockTest.java
  pom.xml
  user-service/src/main/java/edu/tongji/backend/controller/LoginController.java
  user-service/src/main/java/edu/tongji/backend/controller/RegisterController.java
  user-service/src/main/java/edu/tongji/backend/mapper/UserMapper.java
  user-service/src/main/java/edu/tongji/backend/service/IUserService.java
  user-service/src/main/java/edu/tongji/backend/service/impl/UserServiceImpl.java
  user-service/src/main/resources/ban.lua
  user-service/src/main/resources/logout.lua
  web-variables.env
Due: Gateway, User Service, OA Service

fix the args
  .github/workflows/image-sync.yml
Due: none

[GitHub Actions] Pull Request Batches (#107)
  .github/workflows/docflow.yml
  .github/workflows/image-sync.yml
  .github/workflows/workflow.yml
Due: none

Main workflow will run once 3 days
  .github/workflows/workflow.yml
Due: none

Optimize daily glycemia query
  common-api/src/main/java/edu/tongji/backend/util/BloomFilterUtil.java
  glycemia-service/src/main/java/edu/tongji/backend/mapper/GlycemiaMapper.java
  glycemia-service/src/main/java/edu/tongji/backend/service/IGlycemiaService.java
  glycemia-service/src/main/java/edu/tongji/backend/service/impl/GlycemiaServiceImpl.java
  glycemia-service/src/main/resources/edu/tongji/backend/mapper/GlycemiaMapper.xml
  oa-service/src/main/java/edu/tongji/backend/controller/AccountController.java
Due: Glycemia Service, OA Service

Fix the unfound bf error
  exercise-service/src/main/java/edu/tongji/backend/service/impl/ExerciseServiceImpl.java
  user-service/src/main/java/edu/tongji/backend/service/impl/UserServiceImpl.java
Due: User Service, Exercise Service

Optimize Time-Series Glycemia Query via RedisTimeSeries(response time <100ms)
  glycemia-service/src/main/java/edu/tongji/backend/service/impl/GlycemiaServiceImpl.java
  glycemia-service/src/main/resources/ts.lua
  glycemia-service/src/main/resources/ts2.lua
Due: Glycemia Service

Optimize Time-Series Weekly/Monthly Glycemia Query via RedisTimeSeries(response time <1000ms)
  glycemia-service/src/main/java/edu/tongji/backend/service/impl/GlycemiaServiceImpl.java
  glycemia-service/src/main/resources/ts.lua
  glycemia-service/src/main/resources/ts2.lua
  glycemia-service/src/main/resources/ts3.lua
  interact-service/src/main/resources/subscribe.lua
Due: Glycemia Service, Interact Service

Fix the TimeSeries Bugs -------------------------------------------------- Benchmark for single day glycemia data: ------ Response-Time Redis 150ms Redis TimeSeries 60ms
  common-api/src/main/java/edu/tongji/backend/aspect/WebLogAspect.java
  common-api/src/main/java/edu/tongji/backend/dto/DailyChart.java
  glycemia-service/src/main/java/edu/tongji/backend/controller/GlycemiaController.java
  glycemia-service/src/main/java/edu/tongji/backend/service/impl/GlycemiaServiceImpl.java
  glycemia-service/src/main/resources/ts.lua
  glycemia-service/src/main/resources/ts2.lua
Due: Glycemia Service

doctor can get the sport record of patients
  common-api/src/main/java/edu/tongji/backend/config/MvcConfig.java
  exercise-service/src/main/java/edu/tongji/backend/controller/SportController.java
  glycemia-service/src/main/java/edu/tongji/backend/service/impl/GlycemiaServiceImpl.java
Due: Glycemia Service, Exercise Service

[Bug fix]No data won't cause Lua crash
  glycemia-service/src/main/java/edu/tongji/backend/service/impl/GlycemiaServiceImpl.java
Due: Glycemia Service

User can log out and token expiration will be refreshed
  common-api/src/main/java/edu/tongji/backend/config/MvcConfig.java
  common-api/src/main/java/edu/tongji/backend/util/RefreshTokenInterceptor.java
Due: none

Thanks to the latest update of GitHub,the conf of multiple same ecosystem becomes easy!
  .github/dependabot.yml
Due: none

Update dependabot.yml to support Docker (#88)
  .github/dependabot.yml
Due: none

Introduce Redis-Stack Docker Image,and the system is more portable to deploy.
  README.md
  docker-compose.yml
Due: none

Optimize docker-compose.yml
  common-api/pom.xml
  common-api/src/main/java/edu/tongji/backend/entity/Exercise.java
  common-api/src/main/java/edu/tongji/backend/entity/Glycemia.java
  common-api/src/main/java/edu/tongji/backend/entity/Profile.java
  common-api/src/main/java/edu/tongji/backend/entity/Scenario.java
  common-api/src/main/java/edu/tongji/backend/entity/User.java
  docker-compose.yml
  exercise-service/pom.xml
  glycemia-service/pom.xml
  interact-service/pom.xml
  pom.xml
  user-service/pom.xml
Due: User Service, Glycemia Service, Interact Service, Exercise Service

Path conditions:
  Gateway: any of: gateway/**
  User Service: any of: user-service/**
  Glycemia Service: any of: glycemia-service/**
  Interact Service: any of: interact-service/**
  Exercise Service: any of: exercise-service/**
  OA Service: any of: oa-service/**
