Repository SEMedical/SmartGlycemia: changes, and which Codecov flags are due for each by the changed paths.
All: Gateway, User Service, Glycemia Service, Interact Service, Exercise Service, OA Service

Use riot to import data to Redis
  README.md
  docker-compose.yml
  riot-scripts.sh
Due: none

statistical riot commands
  gateway/src/main/resources/bootstrap.yml
  riot-scripts.sh
Due: Gateway

[Redis TimeSeries & RedisBloom] Deduplication and glycemia prediction (#108)
  .github/workflows/workflow.yml
  README.md
  common-api/pom.xml
  common-api/src/main/java/edu/tongji/backend/aspect/WebLogAspect.java
  common-api/src/main/java/edu/tongji/backend/config/MvcConfig.java
  common-api/src/main/java/edu/tongji/backend/dto/DailyChart.java
  common-api/src/main/java/edu/tongji/backend/entity/Exercise.java
  common-api/src/main/java/edu/tongji/backend/entity/Glycemia.java
  common-api/src/main/java/edu/tongji/backend/entity/Profile.java
  common-api/src/main/java/edu/tongji/backend/entity/Scenario.java
  common-api/src/main/java/edu/tongji/backend/entity/User.java
  common-api/src/main/java/edu/tongji/backend/util/BloomFilterUtil.java
  common-api/src/main/java/edu/tongji/backend/util/RefreshTokenInterceptor.java
  docker-compose.yml
  exercise-service/pom.xml
  exercise-service/src/main/java/edu/tongji/backend/controller/SportController.java
  exercise-service/src/main/java/edu/tongji/backend/service/impl/ExerciseServiceImpl.java
  gateway/src/main/resources/bootstrap.yml
  glycemia-service/pom.xml
  glycemia-service/src/main/java/edu/tongji/backend/controller/GlycemiaController.java
  glycemia-service/src/main/java/edu/tongji/backend/mapper/GlycemiaMapper.java
  glycemia-service/src/main/java/edu/tongji/backend/service/IGlycemiaService.java
  glycemia-service/src/main/java/edu/tongji/backend/service/impl/GlycemiaServiceImpl.java
  glycemia-service/src/main/resources/edu/tongji/backend/mapper/GlycemiaMapper.xml
  glycemia-service/src/main/resources/ts.lua
  glycemia-service/src/main/resources/ts2.lua
  glycemia-service/src/main/resources/ts3.lua
  interact-service/pom.xml
  interact-service/src/main/resources/subscribe.lua
  oa-service/src/main/java/edu/tongji/backend/controller/AccountController.java
  pom.xml
  riot-scripts.sh
  user-service/pom.xml
  user-service/src/main/java/edu/tongji/backend/controller/LoginController.java
  user-service/src/main/java/edu/tongji/backend/service/impl/UserServiceImpl.java
Due: Gateway, User Service, Glycemia Service, Interact Service, Exercise Service, OA Service

add cuckoo filter for contact
  glycemia-service/src/test/java/edu/tongji/backend/OptimizedTest.java
  interact-service/src/main/java/edu/tongji/backend/controller/DoctorInteractController.java
  interact-service/src/main/java/edu/tongji/backend/mapper/DoctorInteractMapper.java
  interact-service/src/main/java/edu/tongji/backend/service/impl/DoctorInteractImpl.java
  interact-service/src/main/resources/bf.lua
  interact-service/src/main/resources/bfexists.lua
  oa-service/src/main/java/edu/tongji/backend/service/IAccountService.java
  oa-service/src/main/java/edu/tongji/backend/service/impl/AccountServiceImpl.java
  oa-service/src/main/resources/bf.lua
  oa-service/src/main/resources/bfexists.lua
  user-service/src/main/java/edu/tongji/backend/controller/LoginController.java
  user-service/src/main/java/edu/tongji/backend/mapper/UserMapper.java
  user-service/src/main/java/edu/tongji/backend/service/IUserService.java
  user-service/src/main/java/edu/tongji/backend/service/impl/UserServiceImpl.java
  user-service/src/main/resources/bf.lua
  user-service/src/main/resources/bfexists.lua
Due: User Service, Glycemia Service, Interact Service, OA Service

Update Copyright and License info
  README.md
Due: none

make redis stack more portable
  README.md
  docker-compose.yml
  riot-scripts.sh
Due: none

make redis stack more portable
  docker-compose.yml
Due: none

make redis stack more portable
  README.md
Due: none

use volumes not bind mounts for some data directories
  README.md
  docker-compose.yml
Due: none

Path conditions:
  Gateway: any of: gateway/**
  User Service: any of: user-service/**
  Glycemia Service: any of: glycemia-service/**
  Interact Service: any of: interact-service/**
  Exercise Service: any of: exercise-service/**
  OA Service: any of: oa-service/**
